@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Bai Jamjuree', sans-serif;
}

img {
	display: block;
	width: 100%;
}

body {
	height: 100dvh;
	width: 100%;
	background-image: url("../images/bg-header-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 7rem 2rem 2rem 2rem;
}

/* main logo at top */
main > img:first-child {
	width: 45%;
	max-width: 140px;
	padding-bottom: 4rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
	padding-top: 8rem;
}

h3 {
	font-size: 1.5rem;
	padding-top: 3rem;
}

p {
	color: hsl(201, 11%, 66%);
	padding-top: 1rem;
	max-width: 635px;
}

.dl-buttons {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}

.dl-iOS,
.dl-Mac {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 100%;
	max-width: 310px;
	border-radius: 2rem;
	color: white;
	font-weight: 600;
}

.dl-iOS {
	background-color: hsl(171, 66%, 44%);
	box-shadow: 0px 3px 0px rgb(58, 151, 108);
	margin-top: 3rem;
}

.dl-Mac {
	background-color: hsl(233, 100%, 69%);
	margin-top: 1.5rem;
	box-shadow: 0px 3px 0px rgb(100, 100, 197);
}

figure {
	padding-top: 4rem;
}

#icon-info-section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}

#icon-info-section img {
	width: 50px;
}

.large-image {
	max-width: 750px;
}

#company-logos {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
}

#company-logos img {
	padding-top: 5rem;
}

ul {
	list-style: none;
	text-align: center;
	font-size: 1.5rem;
}

ul li {
	padding-top: 2rem;
}

footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 8rem;
	width: 100%;
	background-color: hsl(214, 33%, 96%);
	padding: 3rem 0 3rem 0;
}

#logo-image img {
	width: 50px;
}

.social-icons {
	display: flex;
	flex-flow: row nowrap;
	width: 50%;
	justify-content: space-between;
	padding-top: 3rem;
}

.social-icons img {
	width: 30px;
}

@media (min-width: 1055px) {
	body {
		background-image: url("../images/bg-header-desktop.png");
	}

	main {
		padding: 0;
	}

	.wrapper-computer-image {
		position: relative;
		display: grid;
		text-align: left;
		align-items: top;
		column-gap: 4rem;
		grid-template-columns: max-content 25%;
		grid-template-rows:  auto auto auto auto auto 1fr;
		grid-template-areas:
			"image quick-search"
			"image quick-search-paragraph"
			"image icloud-sync"
			"image icloud-sync-paragraph"
			"image complete-history"
			"image complete-history-paragraph";
		width: 100%;
		margin-top: 4rem;
	}

	.wrapper-computer-image figure {
		grid-area: image;
		position: relative;
		left: -30px;
		padding-top: 0;
	}

	.wrapper-computer-image h3:nth-child(2) {
		grid-area: quick-search;
		margin-top: 3rem;
	}

	.wrapper-computer-image p:nth-child(3) {
		grid-area: quick-search-paragraph;
	}

	.wrapper-computer-image h3:nth-child(4) {
		grid-area: icloud-sync;
	}

	.wrapper-computer-image p:nth-child(5) {
		grid-area: icloud-sync-paragraph;
	}

	.wrapper-computer-image h3:nth-child(6) {
		grid-area: complete-history
	}

	.wrapper-computer-image p:nth-child(7) {
		grid-area: complete-history-paragraph
	}

	.dl-buttons {
		flex-flow: row nowrap;
		justify-content: center;
		column-gap: 1rem;
	}

	.dl-Mac {
		margin-top: 3rem;
	}

	#company-logos {
		flex-flow: row nowrap;
		column-gap: 5rem;
	}
}